@media (max-width:900px) {
    .home {

        display: flex !important;

        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center;
        height: auto;


    }

   

    .textButton {
        position: static !important;
        left: 14%;
        top: 30%;
    }
}