/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
}

.home-content {
    text-align: center;
}

.home-title {
    font-size: 24px;
}

.buy-button {
    margin-top: 20px;
}

.home-image-container {
    text-align: center;
    margin-top: 20px;
}

.home-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.features-container {
    padding: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    width: 45%;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .feature {
        width: 100%;
    }

    .home-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .home-title {
        font-size: 18px;
    }
}
